// bootstrap 所需功能
@import "../../node_modules/bootstrap/scss/functions";

// 自定義套件
@import "./stylesheet/variables";

// bootstrap本身
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body{
    width: 100%;
    height: 100%;
    background-color: #D6E6F2;
}
